/* Ejercicio 4 */
h1 {
    color: green;
}
p {
    font-style: italic;
}

/* Ejercicio 5 */
.titulo {
    color: red;
    text-align: center;
    font-size: 24px;
}

/* Ejercicio 6 */
div {
    background-color: yellow;
    border: 2px solid blue;
    padding: 10px;
    margin: 15px;
}

/* Ejercicio 7 */
#ej7 {
    color: blue;
    font-weight: bold;
    border: solid 3px red;
}

/* Ejercicio 8 */
button {
    background-color: green;
    color: white;
    border: solid 2px black;
    border-radius: 7px;
    padding: 10px;
}