/* Ejercicio 4 */
h1 {
    color: green;
}
p {
    font-style: italic;
}

/* Ejercicio 5 */
.titulo {
    color: red;
    text-align: center;
    font-size: 24px;
}

/* Ejercicio 6 */
div {
    background-color: yellow;
    border: 2px solid blue;
    padding: 10px;
    margin: 15px;
}